.readRemainingGauge {
	position: fixed;
	font-weight: bold;
	font-size: 13px;
	border-radius: 3px;
	left: 40px;
	bottom: 40px;
	width: 95px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: normal;
	background: rgba(255, 255, 255, 0.4);
  color: black;
   -webkit-animation: readRemainingGuageAnimation 2s;
   -moz-animation: readRemainingGuageAnimation 2s;
   -o-animation: readRemainingGuageAnimation 2s;
    animation: readRemainingGuageAnimation 2s;
}

.readRemainingGauge.hidden {
	opacity: 0;
	-moz-transition-property: none;
	-webkit-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}



@keyframes readRemainingGuageAnimation {
  0%   { opacity:0; }
  100%  { opacity:1; }
}
@-o-keyframes readRemainingGuageAnimation{
  0%   { opacity:0; }
  100%  { opacity:1; }
}
@-moz-keyframes readRemainingGuageAnimation{
  0%   { opacity:0; }
  100%  { opacity:1; }
}
@-webkit-keyframes readRemainingGuageAnimation{
  0%   { opacity:0; }
  100%  { opacity:1; }
}  